/* Styles */

.viewport-size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
}

.hiro {
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
}

.about {
    margin-top: 10rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;

}

footer {
    margin-top: 3rem;
    padding: 2px;
}