/* Styles */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700&display=swap%27");

body {
    font-family: "Rubik", sans-serif;
}

.viewport-size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    line-height: 1.5;
}

nav {
    background-color: #d8d4fe;
}

img.cert {
    width: 10rem;
    height: 10rem;
}

.hiro {
    background-image: url("../images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 5rem;
}

.about {
    margin-top: 10rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 1rem;
}

footer {
    margin-top: 3rem;
    padding: 2px;
    border-top: 1px solid #ccc;
}
